:root {

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

}

/* DARK MODE */

[data-theme="dark"] {

  --bg-primary: #0a0a0a;
  --bg-secondary: #111111;
  --bg-card: #171717;

  --text-primary: #fafafa;
  --text-secondary: #b3b3b3;

  --accent: #7c3aed;

  --border: #262626;
}


/* LIGHT MODE */

[data-theme="light"] {

  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f7;
  --bg-card: #ffffff;

  --text-primary: #111111;
  --text-secondary: #525252;

  --accent: #7c3aed;

  --border: #e5e5e5;
}